version: '3.4'
services:
  app:
    build: .
    image: tomsaleeba/drf_starter:dev
    container_name: drf_app
    ports:
      - 8000:8000
    environment:
      DATABASE_URL: postgres://${DB_USER}:${DB_PASS}@db:5432/${DB_NAME}
    healthcheck:
      test: curl --fail localhost:8000/ht/ || exit 1
      interval: 1m30s
      timeout: 10s
      retries: 1
      start_period: 99s
